<!DOCTYPE html>
<!-- 首页 -->
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/daohang.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer&cbl.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-1.11.3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="{{ url_for('static', filename='js/templet.js') }}"></script>
    <script src="{{ url_for('static', filename='js/hp.js') }}"></script>
    <title>TommyCar</title>
</head>
<body>
<div id="main">
    <!-- 导航区域 -->
    <header id="header" data-spy="affix" data-offset-top="70">
        <nav class="navbar-inverse" id="daohang">
            <div class="daohang">
                <div class="navbar-header clearfix">
                    <button type="button" class="zd" id="zd">
                        <span class="glyphicon glyphicon-align-justify"></span>
                    </button>
                    <a href="#" class="navbar-brand"><img id="car_icon" src="../static/img/car_icon_5.png"/></a>
                </div>
                <div class="collapse navbar-collapse" id="daohangtiao">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ url_for('index') }}">HOME</a></li>
                        <li><a href="#">COMMUNITY</a></li>
                        <li><a href="#">DATA SET</a></li>
                        <li><a href="#">CARLA</a></li>
                        <li><a href="#">PROJECT</a></li>
{#                        <li class="wd1"><a href="">GitHub</a>#}
{#                            <ul class="wd2 clearfix">#}
{#                                <li class="pull-left clearfix" style="width: 219px;">#}
{#                                    <p><a href="#" class="a1">版本更新日志</a></p>#}
{#                                    <ul class="ul1">#}
{#                                        <li><a href="#" title="系统升级日志：V1.4">系统升级日志：V1.4</a></li>#}
{#                                        <li><a href="#" title="系统升级日志：V1.3">系统升级日志：V1.3</a></li>#}
{#                                        <li><a href="#" title="系统升级日志：V1.2">系统升级日志：V1.2</a></li>#}
{#                                        <li><a href="#" title="系统升级日志：V1.3">系统升级日志：V1 .1</a></li>#}
{#                                    </ul>#}
{#                                </li>#}
{#                                <li class="pull-left clearfix" style="width: 479px;">#}
{#                                    <p><a href="#" class="a1">GitHub仓库</a></p>#}
{#                                    <ul class="ul1">#}
{#                                        <li><a href="#" title="MyBS">MyBS</a></li>#}
{#                                        <li><a href="#" title="TommyCar">TommyCar</a></li>#}
{#                                        <li><a href="#" title="LAV">LAV</a></li>#}
{#                                    </ul>#}
{#                                </li>#}
{#                            </ul>#}
{#                        </li>#}
                    </ul>
                    <ul class="zcdl nav navbar-nav pull-right">
                        <li><a href="{{ url_for("login") }}">Login</a></li>
                        <li><a href="{{ url_for("register") }}">Register</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- 中心展示区域 -->
    <div class="c">
        <div class="c2">
            <div class="content" style="overflow: hidden;margin: 0 auto;max-width: 2500px;">
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 pull-left pic1 clearfix" id="c2-1">
                    <video autoplay="autoplay" muted="muted" loop="loop">
                        <source type="video/webm" src="../static/video/main-1-1.mov"></source>
                    </video>
                </div>
                <div class="w1 col-lg-5 col-md-5 col-sm-12 col-xs-12 pull-left clearfix" id="c2-2">
                    <div style="width: 80%;margin: 0 auto;">
                        <h1 class="hh1" style="font-size: 34px;color:#3ea3ff ;padding-bottom: 20px;">
                            采用CARLA仿真平台</h1>
                        <p class="p1" style="font-size: 15px;line-height: 30px;">
                            对真实道路环境进行仿真模拟。</p>
                        <p class="p1" style="font-size: 15px;line-height: 30px;">
                            基于Unreal Engine 4，server-client结构。</p>
                         <p class="p1" style="font-size: 15px;line-height: 30px;">
                            经典模块化方法，包含：</p>
                         <p class="p1" style="font-size: 15px;line-height: 30px;">
                            1、基于视觉的感知模块。</p>
                        <p class="p1" style="font-size: 15px;line-height: 30px;">
                             2、基于规则的规划器。</p>
                        <p class="p1" style="font-size: 15px;line-height: 30px;">
                            3、行为控制器。</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="c3" id="c3">
            <div class="content" style="overflow: hidden;margin: 0 auto;max-width: 2500px;">
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 pull-right pic2 clearfix" id="c3-2">
                    <video autoplay="autoplay" muted="muted" loop="loop">
                        <source type="video/webm" src="../static/video/main-2.mov"></source>
                    </video>
                </div>
                <div class="w1 col-lg-5 col-md-5 col-sm-12 col-xs-12 pull-left clearfix" id="c3-1">
                    <div style="width: 80%;margin: 0 auto;">
                        <h1 class="hh1" style="font-size: 34px;color:#3ea3ff ;padding-bottom: 20px;">
                            调用虚拟激光雷达和深感摄像头</h1>
                        <p class="p1" style="font-size: 15px;line-height: 30px;">
                            实时采集道路环境数据</p>
                        <p class="p1" style="font-size: 15px;line-height: 30px;">
                            系统为车辆提供：</p>
                        <p class="p1" style="font-size: 15px;line-height: 30px;">
                            环境感知：实时监测道路环境变化</p>
                        <p class="p1" style="font-size: 15px;line-height: 30px;">
                            行为决策：为车辆提供行驶策略，并预测其他车辆行为</p>
                        <p class="p1" style="font-size: 15px;line-height: 30px;">
                            动作控制：根据决策模块的信息，控制车辆行为</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
