<!DOCTYPE html>
<html>
<head>
    <title>登录</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login&register.css') }}">

</head>
<body>
<div class="container">
    <div class="card">
        <div class="card-header">Register</div>
        <div class="card-body">
            <form method="POST" action="/register">
                <div class="form-group">
                    <label>账号</label>
                    {{ form.account }}
                    {% for error in form.account.errors %}
                        {#                    <input type="text" class="form-control form-control-lg" name="username" placeholder="Username"#}
                        {#                           required autofocus>#}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {#                    <input type="password" class="form-control form-control-lg" name="password" placeholder="PassWord"#}
                    {#                           required>#}
                    <label>密码</label>
                    {{ form.pwd }}
                    {% for error in form.pwd.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </div>

                {{ form.csrf_token }}
                {{ form.submit }}
                {#                <div class="form-group">#}
                {#                    <input type="email" class="form-control form-control-lg" name="email" placeholder="Email"#}
                {#                           required>#}
                {#                </div>#}
                {##}
                {#                <button type="submit" class="btn btn-lg btn-primary btn-block">Complete</button>#}

                <div class="create-account">
                    already have it？<a href="{{ url_for('login') }}">Login</a>.
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
